<h1>Tom Hanks Movie App</h1>


<%= image_tag 'toy_story', width: 200 %>

<%= render partial: 'movie', collection: @movies %>

<hr>

<h1>Tom Hanks, before 1995</h1>

<%= render partial: 'movie', collection: @movies_older %>

